.sidebar__container {
    display: flex;
    flex-direction: column;
    padding: 14px 0 0 28px;
    /* width: 25vw; */
    /* flex: 0.25; */
    min-width: 240px;
    border-right: 1px solid var(--twitter-background);
}

.sidebar__description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar__description h1 {
    font-size: 12px;
}

.sidebar__tweet-button {
    max-width: 200px;
    border: none !important;
    color: white !important;
    background-color: var(--twitter-color) !important;
    font-weight: 900 !important;
    border-radius: 20px !important;
    margin: 14px 8px 0 0 !important;
}