.sidebar__option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #4f4f4f;
}

.sidebar__option:hover {
    color:#1DA1F2;
    cursor: pointer;
}

.sidebar__option--description {
    font-size: 20px;
    margin: 14px 0 14px 14px;
}