.widget {
  width: 25vw;
  /* flex: 0.3; */
  box-sizing: border-box;
}

.widget__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.widget__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widget__input input {
  border: none;
  background-color: var(--twitter-background);
}

.widget__input--searchicon {
  color: gray;
}

.widget__container {
  margin: 16px 0 0 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widget__container h2 {
  font-size: 18px;
  font-weight: 800;
}

.widget__embed {
  max-width: 200px;
}

.widget__container article {
  max-width: 140px;
}
